<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetGateSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <NetGateSample.Properties.Settings>
            <setting name="NetGateSample_Iats_NetGate_Reporting_ReportLinkV3"
                serializeAs="String">
                <value>https://www.iatspayments.com/NetGate/ReportLinkv3.asmx</value>
            </setting>
            <setting name="NetGateSample_Iats_NetGate_Reportingv1_ReportLink"
                serializeAs="String">
                <value>https://www.iatspayments.com/NetGate/ReportLink.asmx</value>
            </setting>
        </NetGateSample.Properties.Settings>
    </applicationSettings>
</configuration>